footer {
    height: 60px;
    width: 100%;
    padding: 0px;
    color: #fff;
    background-color: #393865;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

    footer h1 {
        width: 100%;
        font-size: 18px;
        padding: 0px 0px;
        margin: 0px;
        line-height: 30px;
    }