html {
    clear: both;
    margin: 0;
    padding: 0;
}

body {
    max-width: 320px;
    margin: auto;
    font-family: sans-serif;
}

form {
    border: 0px inset #f1f1f1;
    margin: auto;
}

.formDiv {
    width: 300px;
    margin: auto;
}

h1 {
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: #393865;
}

label {
    margin-top: 10px;
    color: #393865;
}

.textImput {
    width: 100%;
    padding: 7px 0;
    margin: 10px 0;
    display: inline-block;
    border: 2px inset #ccc;
    box-sizing: border-box;
}

.btnLogIn {
    background-color: #393865;
    color: white;
    padding: 14px 0;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

    .btnLogIn:hover {
        opacity: 0.70;
    }

.imgcontainer {
    text-align: center;
    margin: 0 0 0 0;
    padding: 0px;
}

img.avatar {
    width: 75%;
}
