section {
    margin-top: 120px;
    clear: both;
    min-height: 400px;
}

    section .formTitulo {
        margin: auto;
        width: 100%;
        font-size: 24px;
        padding: 0px;
        color: #393865;
        text-align: center;
    }