section {
    margin-top: 120px;
    clear: both;
    min-height: 400px;
}

    section .formTitulo {
        margin: auto;
        width: 100%;
        font-size: 24px;
        padding: 0px;
        color: #393865;
        text-align: center;
    }

        section .formTitulo h1 {
            width: 100%;
            font-size: 30px;
            padding: 10px 0px;
            margin: 0;
            padding-top: 25px;
        }

    section .ImagenCorteHonor img {
        min-width: 320px;
        width: 100%;
    }

    section .quienesSomos {
        margin-top: -5px;
        width: 100%;
        color: #393865;
        text-align: justify;
    }

        section .quienesSomos h1 {
            width: 100%;
            text-align: left;
            background-color: #dadada;
            margin: 0;
            padding: 15px 0px;
        }

        section .quienesSomos p {
            width: 100%;
            font-size: 16px;
            padding: 5px 0px;
        }

        section .quienesSomos ol {
            list-style-type: lower-alpha;
            text-align: justify;
        }

            section .quienesSomos ol li {
                padding: 5px 0px;
            }

@media only screen and (max-width: 992px) {
    section {
        margin-top: 100px;
        clear: both;
    }

        section .formTitulo h1 {
            font-size: 28px;
        }
}

@media only screen and (max-width: 768px) {
    section .formTitulo h1 {
        font-size: 24px;
    }
}

@media only screen and (max-width: 576px) {
    section .formTitulo h1 {
        font-size: 20px;
    }
}
